body {
	background-color: #374670;
	color: #969FBD;
}

nav {
	background-color: #1E263D;
	width: 100%;	
}

.content {
	width: 95vw;
	margin: 0 auto;
}

.title-text {
	text-align: center;
	padding: 10px;
	font-size: 25px;
}

.search-form {
	width: 100%;
	text-align: center;
	font-size: 15px;
	margin: 10px 0;
}

#add-term-button, 
.goto-page-button,
#next-page-button,
#previous-page-button {
	background-color: #5D75BD;
	border-color:  #1E263D;
}

.goto-page-button:focus,
#next-page-button:focus,
#previous-page-button:focus {
	outline: none;
}

.goto-page-button.active-page,
.goto-page-button:hover,
#next-page-button:hover,
#previous-page-button:hover{
	background-color: #1E263D;
	color: #969FBD;
}


#button-container {
	display: flex;
	flex-flow: row wrap;
}

.button-wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	width: fit-content;
	height: 25px;
	background-color: #5D75BD;
	color: black;
	box-shadow: 2px 2px 1px 0px rgba(30,38,61,.5);
	padding: 15px;
	margin: 5px;
	
}

.close-button {
	position: absolute;
	right: 5px;
	top: 5px;
}

.button-label {
	pointer-events: none;
	padding-top: 10px;
}

#gif-container {
	width: 95vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}


.gif-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 15px 5px;
}

.gif-wrapper img {
	border: 3px solid #1E263D;
	transition: all .25s ease-out;	
}

.gif-wrapper img:hover {
	box-shadow: 3px 3px 5px 0px rgba(30,38,61,.5);		
	transform: scale(1.25);
	transition: all .25s ease-in;
	z-index: 1;
}

.close-button {
	color: #702728;
}

.gif-rating {
	margin-top: 5px;
	color: #969FBD;
}

#goto-page-controls-wrapper {
	display: inline-block;
}

.page-controls-wrapper {
	text-align: center;
	padding: 15px;
}

.results-count-display {
	margin-top: 5px;
	color: 
}
